@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Alata", sans-serif;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #0085ff;
  border-radius: 1rem;
}

header {
  background: rgba(30, 30, 30, 0.47);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.1px);
  -webkit-backdrop-filter: blur(12.1px);
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  position: fixed;
  border-radius: 0 0 10px 10px;
  top: 0;
  z-index: 1000;
}

header .logo {
  margin-top: 5px;
  display: flex;
  align-items: center;
}

header .logo img {
  max-height: 50px;
  width: auto;
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  display: inline-block;
  color: #0085ff;
  padding: 5px 0;
  margin: 0 10px;
  border: 3px solid transparent;
  transition: 0.2s;
}

header nav ul li a:hover,
header nav ul li a.active {
  border-bottom-color: dodgerblue;
}

.hamburger {
  color: #0085ff;
  cursor: pointer;
  display: none;
  position: relative;
}

.hamburger-icon,
.close-icon {
  display: none;
  font-size: 24px;
}

.homepage,
.weare,
.products {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 0;
  overflow: hidden;
  position: relative;
}

.homepage {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weare {
  background-color: #ffff;
}

.hero-logo {
  margin-top: 50px;
  width: 30%;
  height: auto;
}

.bgbox {
  position: relative;
  color: #0085ff;
  padding: 1rem;
  margin: 2rem 1rem 2.5rem 1rem;
  width: auto;
  height: auto;
  border-radius: 10px;
  border: solid #0085ff 2px;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.productbox {
  position: relative;
  color: #fff;
  background-color: #0085ff;
  padding: 1rem;
  margin: 2rem 1rem 2.5rem 1rem;
  border-radius: 10px;
  border: 2px solid #0085ff;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading1 {
  font-size: 8vh;
}

.heading2 {
  font-size: 15vh;
}

.para {
  margin-top: 10px;
}

.productbox hr {
  border: none; /* Removes the default border */
  height: 1px; /* Sets the thickness of the line */
  background-color: #fff; /* Sets the color of the line */
  margin: 10px 0; /* Adds space above and below the line */
  width: 10%; /* Sets the width of the line */
}
.productcard {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
}

.card {
  display: flex;
  gap: 1rem; /* Adds space between the images */
}

.productimg {
  max-width: 100%; /* Ensures the image doesn't overflow */
  border-radius: 5px; /* Rounds the corners of the images */
}
/* Responsive Styles */
@media only screen and (max-width: 1200px) {
  .hero-logo {
    width: 50%;
  }
  .heading1 {
    font-size: 6vh;
  }
  .heading2 {
    font-size: 12vh;
  }
}

@media only screen and (max-width: 900px) {
  header {
    padding: 0 30px;
  }
  .hero-logo {
    width: 70%;
    margin-top: 70px;
  }
}

@media only screen and (max-width: 700px) {
  .hamburger {
    display: block;
  }

  .hamburger-icon {
    display: block;
  }

  header nav {
    position: absolute;
    margin-top: 0.5rem;
    width: 100%;
    left: -100%;
    top: 70px;
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    transition: left 0.3s;
  }

  header #nav_check:checked ~ nav {
    left: 0;
  }

  header #nav_check:checked ~ .hamburger .hamburger-icon {
    display: none;
    animation: rotateOut 0.5s forwards;
  }

  header #nav_check:checked ~ .hamburger .close-icon {
    display: block;
    animation: rotateIn 0.5s forwards;
  }

  header #nav_check:not(:checked) ~ .hamburger .hamburger-icon {
    animation: rotateIn 0.5s forwards;
  }

  header #nav_check:not(:checked) ~ .hamburger .close-icon {
    display: none;
    animation: rotateOut 0.5s forwards;
  }

  header nav ul {
    display: block;
    text-align: center;
  }

  header nav ul li {
    margin: 15px 0;
  }

  header nav ul li a {
    margin: 0;
  }

  .hero-logo {
    width: 80%;
    margin-top: 50px;
  }
}

@media only screen and (max-width: 500px) {
  .hero-logo {
    width: 90%;
    margin-top: 30px;
  }
}

@keyframes rotateIn {
  from {
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes rotateOut {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}

@media (max-width: 768px) {
  .heading1 {
    font-size: 4vh;
  }
  .heading2 {
    font-size: 10vh;
  }
}

@media (max-width: 480px) {
  .heading1 {
    font-size: 3vh;
  }
  .heading2 {
    font-size: 8vh;
  }
}
